
<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>Titre : {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}} 


  <!-- si le ticket vaut SI afficher une fiole avec le nom SI -->
  <i *ngIf="ticket.major==='SI'">
    <i class="fas fa-flask"> </i> {{ticket.major}}
  </i>

  <!-- si le ticket vaut GE afficher une foudre avec le nom GE -->
  <i *ngIf="ticket.major==='GE'">
    <i class="fas fa-bolt"></i> {{ticket.major}}
  </i>
  
  <!-- si le ticket vaut GB afficher un logo ADN avec le nom GB -->
  <i *ngIf="ticket.major==='GB';else autresIcones">
    <i class="fas fa-dna"> </i> {{ticket.major}}
  </i> 

  <button type="button" (click)="deleteTicket()"> 
    Archive
  </button>

  
</div> 
